---
name: job-30-generic-markdown_links

# Consuming Projects Must Implement:
# - ./.github/scripts/step-setup-environment.sh

on:
  workflow_call:
    inputs:
      CONFIG_FILE:
        description: "The 'github-action-markdown-link-check' config file's path."
        required: true
        type: string
      DOCUMENTATION_PATH:
        default: "."
        description: "Optional, allows you to specify a path to the root folder under which all markdown is found."
        required: false
        type: string
      TESTING_MODE:
        default: false
        description: "Optional, allows you to test a workflow failure."
        required: false
        type: boolean
      VERBOSE_NOTIFICATIONS:
        default: false
        description: "Optional, allows you to adjust the notification verbosity."
        required: false
        type: boolean
      WORKFLOW_NAME:
        default: ""
        description: "Identifies this workflow in notifications."
        required: false
        type: string
    secrets:
      SLACK_WEBHOOK:
        description: "Optional, enables Slack notifications."
        required: false

jobs:

  check_markdown_links:

    runs-on: ubuntu-latest

    steps:
      - name: Documentation Test -- Checkout Repository
        uses: actions/checkout@v4

      - name: Documentation Test -- Setup Environment
        env:
          WORKFLOW_NAME: ${{ inputs.WORKFLOW_NAME }}
        run: |
          bash "./.github/scripts/step-setup-environment.sh"
        shell: bash

      - name: Documentation Test -- Install Toolbox
        uses: ./.github/actions/action-00-toolbox

      - name: Documentation Test -- (Template) Check Markdown Links
        uses: tcort/github-action-markdown-link-check@v1
        with:
          config-file: '${{ inputs.CONFIG_FILE }}'
          folder-path: ${{ inputs.DOCUMENTATION_PATH }}
          use-quiet-mode: 'no'
          use-verbose-mode: 'yes'
          max-depth: -1

      - name: Documentation Test -- Report Job Status on Success
        if: inputs.VERBOSE_NOTIFICATIONS == true
        uses: ./.cicd-tools/boxes/active/ci/github/actions/action-00-generic-notification
        with:
          NOTIFICATION_MESSAGE: "Markdown Link checks have succeeded!"
          NOTIFICATION_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

      - name: Documentation Test -- Report Job Status on Failure
        if: failure() || inputs.TESTING_MODE == true
        uses: ./.cicd-tools/boxes/active/ci/github/actions/action-00-generic-notification
        with:
          NOTIFICATION_EMOJI: ":x:"
          NOTIFICATION_MESSAGE: "Markdown Link checks have failed!"
          NOTIFICATION_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          TESTING_MODE: ${{ inputs.TESTING_MODE }}
